.About {
  position: relative;
}
.About .burger {
  height: 40%;
  width: 50%;
  border-radius: 20px;
}

.About .quotas1 {
  display: flex;
}

.About .quotas1 .content1 {
  width: 50%;
  margin-left: 4%;
}

.About .quotas2 {
  display: flex;
  flex-direction: row-reverse;
}

.About .quotas2 .content2 {
  width: 50%;
  margin-left: 4%;
}

.About .quotas3 {
  width: 75%;
}

.About .quotas3 .section_part {
  display: flex;
}

.About .quotas1_imges {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
}

.About .quota_img1 {
  height: 15%;
  width: 15%;
}

.About .quota_img2 {
  height: 20%;
  width: 20%;
}

.About .quota_img3 {
  height: 15%;
  width: 15%;
}

.About .biryani {
  height: 50%;
  width: 50%;
  border-radius: 20px;
}

.About .quotas3 {
  margin: 1% 10% 3% 10%;
}

.About .our_team {
  height: 250px;
  background-image: url("../../../assets//images/chef_super.jpg");
  /* background-size: 800px 600px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.About .our_team h1 {
  color: black;
}

.About .our_team h6 {
  color: black;
}

.About .our_team button {
  border-radius: 25px;
  padding: 7px 28px;
  border: none;
  color: black;
  font-weight: 600;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  background-color: #74d174;
}

.About .career {
  height: 250px;
  background-image: url("../../../assets//images/muttonkheema.jpg");
  /* background-size: 800px 600px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.About .career p {
  color: #ffffff;
}

.About .career button {
  border-radius: 25px;
  padding: 7px 28px;
  border: none;
  color: black;
  font-weight: 600;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  background-color: #74d174;
}

.About .Happycustomer p {
  font-style: oblique;
}

.About .phone_icon {
  width: 80px;
  padding: 1% 1% 0.8% 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  height: auto;
  position: fixed;
  bottom: 3%;
  left: 2%;
}

.About i.fa-phone {
  font-size: 50px;
  color: #74d174;
}

.About .chat_icon {
  width: 80px;
  padding: 0.8% 1% 1% 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  background-color: #2f4cac;
  height: auto;
  position: fixed;
  bottom: 3%;
  right: 2%;
}

.About i.fa-commenting-o {
  font-size: 50px;
  color: #ffffff;
}

@media only screen and (max-width: 480px) {
  .About {
    position: relative;
  }
  .About .burger {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }

  .About .quotas1 {
    display: inline-block;
  }

  .About .quotas1 .content1 {
    width: auto;
  }

  .About .quotas1_imges {
    display: block;
    align-items: center;
    justify-content: space-evenly;
  }

  .About .quotas2 {
    display: inline-block;
    flex-direction: column;
  }

  .About .quotas2 .content2 {
    width: auto;
  }

  .About .quotas3 {
    width: auto;
  }

  .About .quotas3 .About .quota_img1 {
    height: 15%;
    width: 15%;
  }

  .About .quota_img2 {
    height: 20%;
    width: 20%;
  }

  .About .quota_img3 {
    height: 15%;
    width: 15%;
  }

  .About .biryani {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }

  .About .quotas3 {
    margin: 1% 10% 3% 10%;
  }

  .About .our_team {
    height: 250px;
    background-image: url("../../../assets//images/chef_super.jpg");
    /* background-size: 800px 600px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .About .our_team h1 {
    color: black;
  }

  .About .our_team h6 {
    color: black;
  }

  .About .our_team button {
    border-radius: 25px;
    padding: 7px 28px;
    border: none;
    color: black;
    font-weight: 600;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
    background-color: #74d174;
  }

  .About .career {
    height: 250px;
    background-image: url("../../../assets//images/muttonkheema.jpg");
    /* background-size: 800px 600px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .About .career p {
    color: #ffffff;
  }

  .About .career button {
    border-radius: 25px;
    padding: 7px 28px;
    border: none;
    color: black;
    font-weight: 600;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
    background-color: #74d174;
  }

  .About .Happycustomer p {
    font-style: oblique;
  }

  .About .phone_icon {
    display: none;
  }

  .About .chat_icon {
    display: none;
  }
}
