.Topnavbar nav .container .logo a {
  font-weight: 650;
  font-size: 25px;
}

.Topnavbar nav .container button {
  margin-right: 0 auto;
}

.Topnavbar nav .container .collapse ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Topnavbar nav .container .collapse ul li :hover {
  color: black;
  font-weight: 700;
}

.Topnavbar nav .container .collapse ul li :active {
  color: black;
  font-weight: 700;
}

.Topnavbar nav .container form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Topnavbar nav .container form button {
  border-radius: 25px;
  padding: 11px 32px;
  border: none;
  color: black;
  font-weight: 600;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  background-color: #74d174;
}

@media only screen and (min-width: 768px) {
  .Topnavbar nav .container form {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .Topnavbar nav .container form {
    display: block;
  }
}
